
body {
    background: #444 url(../images/body_bg.jpg) ;
}


#title{
    background:transparent url(../images/title.png) 0 0 scroll;
    position:absolute;
    top:60px;
    left:24px;
    height:62px;
    width:334px;
}

img.header {
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}

img.header:hover
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

header{
	position: relative;
	width:904px;
	height:30px;
	background:url(../images/link_bg.png) no-repeat;
	background-position: center;	
	border-bottom: 1px solid #9acd32;
	border-top: 1px solid #9acd32;
	margin-top:10px;
	display:block;
}

footer{
	height:100px;
	clear:both;
	width:904px;
	margin:0 auto;
	border-top: 2px solid #9acb32;
	font-family:'Lato Bold', arial, sans-serif;
	text-align:center;
	color:#efefef;
}

#links{
	position:relative;
	padding-top:5px;
	margin-right:5px;
	margin-left:5px;
	text-align:center; 
}

#links button{
	padding:0px;
	margin-right:10px;
	margin-left:10px;
	margin-top:5px;
	font-family:'Lato Bold', arial, sans-serif;
	font-size:12pt;
	color:#efefef;
	border:none;
	background-color: transparent;
	text-transform:uppercase;
}

#links button:hover {
	cursor:pointer;
}

third {
	width:880px;
	height:800px;
}

td {
    font-family:Arial, sans-serif;
    font-size:13px;
    cursor:default;
    color:AAAAAA
}

​
a {color:AAAAAA;text-decoration:none;font-size:13px}

input {border-width:1;
       font-family:Arial, sans-serif;font-size:13px;padding:2px;height:21px;
       border-color:CCCCCC;border-style:solid;
       background-color:F9F9F9;color:999999
}

.name{
font-size:35px;color:222244;font-family:Arial, sans-serif;
}

.brief_intro{
font-family:'Lato Bold', arial, sans-serif;
font-size:15px;
color:#efefef;}

.itemtitle{
    font-size:18px;color:#ffffff;font-family:Arial, sans-serif;
    background-color: 20209F;
}

.smallcomment{
font-family:'Lato Bold', arial, sans-serif;
font-size:10px;
color:#efefef;}
.smallcomment .a:hover{color:3A88C2;text-decoration:underline;font-size:11px}

.itemtext{
    color:888888;
    line-height:1.6em;
    font-family: Arial, sans-serif;
}
.papertitle{
    color:459F20;
    font-size: 13px;
}
.conference{
    color:333333;
    font-size: 13px;
}